<web-app id="WebApp_ID" version="2.4"
  xmlns="http://java.sun.com/xml/ns/j2ee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Ehcache Json Provider Test Servlet</display-name>
 
	<listener>
		<listener-class>org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener</listener-class>
	</listener>
 
	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<!-- RestEasy Providers -->
	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>adjuggler.json.AjContextResolver,adjuggler.json.AjJsonProvider</param-value>
	</context-param>

	<!-- GUICE Modules -->
	<context-param>
		<param-name>resteasy.guice.modules</param-name>
		<param-value>adjuggler.test.EhCacheJsonProviderTestModule,adjuggler.test.fixture.PersonsModule</param-value>
	</context-param>

	<!-- Servlet mapping: ALL -->
	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
